$main_color:#FF6060;
$secondary_color:#000000;
$tertiary_color:#FFFFFF;
$bg_color:#F6F6F6;
$main_font: "Montserrat";

.Error {
    background-color: $tertiary_color;

 .Error-header {
    padding : 17px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .App-nav {
        display: flex;
        gap: 57px;
        align-items: center;
        .active-link{
            color : $secondary_color;
            font-weight: bold;
            font-size: 24px;
            text-decoration: underline;
        }
        .link {         
            color : $secondary_color;
            font-weight: bold;
            font-size: 24px;
            text-decoration: none;
        }
    }
}
.Error-main {

    .error-boundary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap : 30px;
        align-items: center;
        padding: 50px 0px;
         h1 {
        font-family: $main_font;
        font-size: 288px;
        color: $main_color;
        margin: 0;
        }
        p {
        font-family: $main_font;
        font-size: 36px;
        color: $main_color;
     }
     .link {
        font-family: $main_font;
        font-size: 18px;
        color: $secondary_color;
        text-decoration: underline;
 
    }
}
}
.Error-footer {
    background-color: $secondary_color;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $tertiary_color;
    font-family: $main_font;
    font-size: 24px;
}
}