$main_color:#FF6060;
$secondary_color:#000000;
$tertiary_color:#FFFFFF;
$bg_color:#F6F6F6;
$main_font: "Montserrat";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
#root {
    min-height: 100vh;
}

@media only screen and (max-width: 768px) {
    .Infos {
        background-color: $tertiary_color;
        min-height: 100vh;
    
     .Infos-header {
        padding : 17px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        .App-logo {
            width: 145px;
           }
        .App-nav {
            display: flex;
            gap: 26px;
            align-items: center;
            .active-link{
                color : $secondary_color;
                font-weight: 500;
                font-size: 12px;
                text-decoration: underline;
            }
            .link {         
                color : $secondary_color;
                font-weight: 500;
                font-size: 12px;
                text-decoration: none;
            }
        }
    }
    .Infos-main {
        min-height: 70vh;
        .MainInfos-header {
            height: 150px;
            margin : 0px 25px ;
            background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.4)), url("../assets/imgBg2.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
        .Collapse-container {
            padding : 17px 25px 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
       
            .Collapse {
                display: flex;
                flex-direction: column;
                padding: 0px;
                gap: 20px;
                .Collapse-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $main_color;
                    color: $tertiary_color;
                    border-radius: 15px;
                    padding: 0px 30px;
                    font-weight: bold;
                    font-family: $main_font;
                    height: 54px;
                    img {
                        color : $tertiary_color;
                        cursor: pointer;
                    }
                }
                .Collapse-content {
                    display: flex;
                    align-items: center;
                    padding: 0px 10px;
                    font-family: $main_font;
                    font-size: 12px;
                }
            }
        }
    
    }
    .Infos-footer {
        background-color: $secondary_color;
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $tertiary_color;
        font-family: $main_font;
        font-size: 12px;
        min-height: 20vh;
    }
    }}

@media only screen and (min-width: 769px) {
    .Infos {
        background-color: $tertiary_color;
        min-height: 100vh;
    
     .Infos-header {
        padding : 30px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        .App-logo {
            width: 145px;
           }
        .App-nav {
            display: flex;
            gap: 26px;
            align-items: center;
            .active-link{
                color : $secondary_color;
                font-weight: 500;
                font-size: 18px;
                text-decoration: underline;
            }
            .link {         
                color : $secondary_color;
                font-weight: 500;
                font-size: 18px;
                text-decoration: none;
            }
        }
    }
    .Infos-main {
        min-height: 70vh;
        .MainInfos-header {
            height: 185px;
            margin : 36px 50px ;
            background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.4)), url("../assets/imgBg2.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
        }
        .Collapse-container {
            padding : 50px 50px 70px;
            display: flex;
            flex-direction: column;
            gap: 50px;
       
            .Collapse {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 0px;
                .Collapse-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $main_color;
                    color: $tertiary_color;
                    border-radius: 5px;
                    padding: 0px 30px;
                    font-weight: bold;
                    font-family: $main_font;
                    height: 54px;
                    img {
                        color : $tertiary_color;
                        cursor: pointer;
                    }
                }
                .Collapse-content {
                    display: flex;
                    align-items: center;
                    padding: 0px 35px;
                    font-family: $main_font;
                    font-size: 16px;
                }
            }
        }
    
    }
    .Infos-footer {
        background-color: $secondary_color;
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $tertiary_color;
        font-family: $main_font;
        font-size: 24px;
        min-height: 20vh;
    }
    }}

@media only screen and (min-width: 992px) {
.Infos {
    background-color: $tertiary_color;
    min-height: 100vh;
 .Infos-header {
    padding : 17px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    .App-nav {
        display: flex;
        gap: 57px;
        align-items: center;
        .active-link{
            color : $secondary_color;
            font-weight: bold;
            font-size: 24px;
            text-decoration: underline;
        }
        .link {         
            color : $secondary_color;
            font-weight: bold;
            font-size: 24px;
            text-decoration: none;
        }
    }
}
.Infos-main {
    min-height: 70vh;
    .MainInfos-header {
        height: 223px;
        margin : 17px 100px ;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4)), url("../assets/imgBg2.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }
    .Collapse-container {
        padding : 17px 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
   
        .Collapse {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0px 70px;
            .Collapse-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $main_color;
                color: $tertiary_color;
                border-radius: 5px;
                padding: 0px 30px;
                font-weight: bold;
                font-family: $main_font;
                height: 54px;
                img {
                    color : $tertiary_color;
                    cursor: pointer;
                }
            }
            .Collapse-content {
                display: flex;
                align-items: center;
                padding: 0px 50px;
                font-family: $main_font;
                font-size: 18px;
            }
        }
    }

}
.Infos-footer {
    background-color: $secondary_color;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $tertiary_color;
    font-family: $main_font;
    font-size: 24px;
    min-height: 20vh;
}
}}