$main_color:#FF6060;
$secondary_color:#000000;
$tertiary_color:#FFFFFF;
$star_color:#E3E3E3;
$bg_color:#F6F6F6;
$main_font: "Montserrat";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
#root {
    min-height: 100vh;
}

@media only screen and (max-width: 768px) {
    .Housing-details {
        background-color: $tertiary_color;
        min-height: 100vh;
    
     .Housing-header {
        padding : 17px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        .App-logo {
            width: 145px;
           }
        .App-nav {
            display: flex;
            gap: 26px;
            align-items: center;
            .active-link{
                color : $secondary_color;
                font-weight: 500;
                font-size: 12px;
                text-decoration: underline;
            }
            .link {         
                color : $secondary_color;
                font-weight: 500;
                font-size: 12px;
                text-decoration: none;
            }
        }
    }
    .Housing-main {
    
        padding: 17px 30px;
        min-height: 70vh;
    
        .carousel {
    
            height: 255px;
            position: relative;
            overflow: hidden;
    
            .carousel-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
    
            .carousel-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: none;
                font-size: 24px;
                color: white;
                cursor: pointer;
                z-index: 10;
            
                &.carousel-arrow-left {
                  left: 10px;
                }
            
                &.carousel-arrow-right {
                  right: 10px;
                }
              }
            .carousel-counter {
                display: none;
                position : absolute;
                bottom: 10px;
                transform: translateY(-50%);
                left : 50%;
                font-size: 18px;
                color: $tertiary_color;
            }
        }
        .Housing-infos {
            display: flex;
            flex-wrap: wrap;
            justify-content: unset;
            align-items: center;
            gap: 0px;
            margin: 40px 0px ;
    
            div {
                flex: 1 1 50%;
                box-sizing: border-box;
            }
    
            .title-location {
                font-family: $main_font;
                margin-top: 0px;
                flex : 1 1 100%;
                
    
                h1 {
                   font-weight: 500;
                    font-size: 18px; 
                    color: $main_color;
                    margin: auto;
                }
                p {
                    font-weight: 500;
                    font-size: 14px;
                    color: $secondary_color;
                    margin: 10px 0px;
                }
            }
            .host-info {
                font-family: $main_font;
                font-size: 18px;
                color: $main_color;
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: flex-end;
                order: +2;
                margin-top: 15px;
                flex: 1 1 50%;
    
                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 10px;
                }
            }
            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                align-items: center;
                justify-content: flex-start;
                margin-top: 10px;
                flex: 1 1 100%;
        
                .tag {
                    background-color: $main_color;
                    color: $tertiary_color;
                    padding: 5px 25px;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .rating {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 15px;
                flex: 1 1 50%;
                .star-icon {
                    width: 24px;
                    height: 24px;
                    color: $star_color;
        
                }
                .star.filled {
                    color: $main_color;
                }
    
            }
    
        }
        .Housing-collapse {
            display: flex;
            flex-direction: column;
            gap: 36px;
            margin: 36px 0px;
    
            .Collapse {
                width: 100%;
                .Collapse-header {
                    display: flex;
                    align-items: center;
                    font-family: $main_font;
                    background-color: $main_color;
                    border-radius: 5px;
                    padding: 0px 20px;
                    justify-content: space-between;
                    
                    
                    h2 {
                        font-size: 13px;
                        font-weight: 700;
                        color: $tertiary_color;
                    }
                    img {
                        color: $tertiary_color;
                        height: 32px;
                        width: 32px;
                        cursor: pointer;
                    }
                }
                .Collapse-content {
                    margin: 16px 16px 0px;
                    font-family: $main_font;
                    font-size: 12px;
                    font-weight: 400;
    
                    ul {
                        list-style-type: none;
                        padding: 0px;
                        margin: 0px;
                    }
                }
            }
    
        }
    }
    .Housing-footer {
        background-color: $secondary_color;
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $tertiary_color;
        font-family: $main_font;
        font-size: 12px;
        min-height: 20vh;
    }
    }
}
@media only screen and (min-width: 769px) {
    .Housing-details {
        background-color: $tertiary_color;
        min-height: 100vh;
    
     .Housing-header {
        padding : 30px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        .App-nav {
            display: flex;
            gap: 57px;
            align-items: center;
            .active-link{
                color : $secondary_color;
                font-weight: bold;
                font-size: 18px;
                text-decoration: underline;
            }
            .link {         
                color : $secondary_color;
                font-weight: bold;
                font-size: 18px;
                text-decoration: none;
            }
        }
    }
    .Housing-main {
    
        padding: 17px 50px;
        min-height: 70vh;
    
        .carousel {
    
            height: 415px;
            position: relative;
            overflow: hidden;
    
            .carousel-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }
    
            .carousel-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: none;
                font-size: 68px;
                color: white;
                cursor: pointer;
                z-index: 10;
            
                &.carousel-arrow-left {
                  left: 10px;
                }
            
                &.carousel-arrow-right {
                  right: 10px;
                }
              }
            .carousel-counter {
                display: none;
                position : absolute;
                bottom: 10px;
                transform: translateY(-50%);
                left : 50%;
                font-size: 18px;
                color: $tertiary_color;
            }
        }
        .Housing-infos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            margin: 40px 0px ;
    
            div {
                flex: 0 1 calc(50% - 8px);
                box-sizing: border-box;
            }
    
            .title-location {
                font-family: $main_font;
                margin-top: 0px;
                flex: 1 1 100%;
                
    
                h1 {
                   font-weight: 500;
                    font-size: 28px; 
                    color: $main_color;
                    margin: auto;
                }
                p {
                    font-weight: 500;
                    font-size: 18px;
                    color: $secondary_color;
                    margin: 10px 0px;
                }
            }
            .host-info {
                font-family: $main_font;
                font-size: 18px;
                color: $main_color;
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: flex-end;
                order: +2;
    
                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 10px;
                }
            }
            .tags {
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: flex-start;
                margin-top: 10px;
                flex: 1 1 100%;
    
                .tag {
                    background-color: $main_color;
                    color: $tertiary_color;
                    padding: 5px 25px;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 500;
                   
                }
            }
            .rating {
                display: flex;
                align-items: center;
                justify-content: flex-start;
           
                .star {
                    font-size: 28px;
                    color: $star_color;
        
                }
                .star.filled {
                    color: $main_color;
                }
    
            }
    
        }
        .Housing-collapse {
            display: flex;
            flex-direction: column;
            gap: 48px;
            margin: 36px 0px;

    
            .Collapse {
                width: 100%;
                .Collapse-header {
                    display: flex;
                    align-items: center;
                    font-family: $main_font;
                    background-color: $main_color;
                    border-radius: 5px;
                    padding: 0px 20px;
                    justify-content: space-between;
                    
                    
                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                        color: $tertiary_color;
                    }
                    img {
                        color: $tertiary_color;
                        height: 32px;
                        width: 32px;
                        cursor: pointer;
                    }
                }
                .Collapse-content {
                    margin: 32px;
                    font-family: $main_font;
                    font-size: 16px;
                    font-weight: 400;
    
                    ul {
                        list-style-type: none;
                        padding: 0px;
                        margin: 0px;
                    }
                }
            }
    
        }
    }
    .Housing-footer {
        background-color: $secondary_color;
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $tertiary_color;
        font-family: $main_font;
        font-size: 24px;
        min-height: 20vh;
    }
    }
}


@media only screen and (min-width: 992px) {
.Housing-details {
    background-color: $tertiary_color;
    min-height: 100vh;

 .Housing-header {
    padding : 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    .App-nav {
        display: flex;
        gap: 57px;
        align-items: center;
        .active-link{
            color : $secondary_color;
            font-weight: bold;
            font-size: 24px;
            text-decoration: underline;
        }
        .link {         
            color : $secondary_color;
            font-weight: bold;
            font-size: 24px;
            text-decoration: none;
        }
    }
}
.Housing-main {

    padding: 30px 100px;
    margin-bottom: 50px;
    min-height: 70vh;

    .carousel {

        height: 415px;
        position: relative;
        overflow: hidden;

        .carousel-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
        }

        .carousel-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            font-size: 96px;
            color: white;
            cursor: pointer;
            z-index: 10;
        
            &.carousel-arrow-left {
              left: 10px;
            }
        
            &.carousel-arrow-right {
              right: 10px;
            }
          }
        .carousel-counter {
            display: block;
            position : absolute;
            bottom: 10px;
            transform: translateY(-50%);
            left : 50%;
            font-size: 18px;
            color: $tertiary_color;
        }
    }
    .Housing-infos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin: 40px 0px ;

        div {
            flex: 0 1 calc(50% - 8px);
            box-sizing: border-box;
        }

        .title-location {
            font-family: $main_font;
            margin-top: 0px;
            

            h1 {
               font-weight: 500;
                font-size: 36px; 
                color: $main_color;
                margin: auto;
            }
            p {
                font-weight: 500;
                font-size: 18px;
                color: $secondary_color;
                margin: 16px 0px;
            }
        }
        .host-info {
            font-family: $main_font;
            font-size: 18px;
            color: $main_color;
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: flex-end;

            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
        }
        .tags {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: flex-start;

            .tag {
                background-color: $main_color;
                color: $tertiary_color;
                padding: 5px 25px;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 500;
            }
        }
        .rating {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .star {
                font-size: 28px;
                color: $star_color;
    
            }
            .star.filled {
                color: $main_color;
            }

        }

    }
    .Housing-collapse {
        display: flex;
        flex-direction: row;
        gap: 76px;
        margin: 16px 0px;

        .Collapse {
            width: 100%;
            .Collapse-header {
                display: flex;
                align-items: center;
                font-family: $main_font;
                background-color: $main_color;
                border-radius: 5px;
                padding: 0px 20px;
                justify-content: space-between;
                
                
                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    color: $tertiary_color;
                }
                img {
                    color: $tertiary_color;
                    height: 32px;
                    width: 32px;
                    cursor: pointer;
                }
            }
            .Collapse-content {
                margin: 32px;
                font-family: $main_font;
                font-size: 18px;
                font-weight: 400;

                ul {
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;
                }
            }
        }

    }
}
.Housing-footer {
    background-color: $secondary_color;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $tertiary_color;
    font-family: $main_font;
    font-size: 24px;
    min-height: 20vh;
}
}}
